<div class="cmdk-backdrop" id="cmdk">
  <div class="cmdk-dialog" id="cmdk-dialog">
    <div class="cmdk-input-row">
      <span class="cmdk-input-icon"><svg><use href="icons.svg#i-search"/></svg></span>
      <input class="cmdk-input" id="cmdk-input" type="text" placeholder="Search actions..." autocomplete="off" spellcheck="false" />
    </div>
    <div class="cmdk-list" id="cmdk-list"></div>
    <div class="cmdk-footer">
      <span class="cmdk-hint"><kbd>↑↓</kbd> navigate</span>
      <span class="cmdk-hint"><kbd>↵</kbd> run</span>
      <span class="cmdk-hint"><kbd>esc</kbd> close</span>
    </div>
  </div>
</div>
